<div class="page-header">
	<h1>Novo Local</h1>
</div>

<div class="jumbotron">

<%= form_for(@local) do |f| %>

	  <% if @local.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@local.errors.count, "error") %> prohibited this local from being saved:</h2>

	      <ul>
	      <% @local.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	<div class="field">
		<%= f.label :nome %><br>
		<%= f.text_field :nome %>
	</div>

	<div class="field">
		<%= f.label :estado_id, "Estado" %>
    	<%= select_tag :searchlocal, options_from_collection_for_select(Estado.all.collect, 'id', 'siglaEstado')%>
	</div>

	<div class="field">
		<%= f.label :cidade_id, "Cidade" %>
  		<%= collection_select(:local, :cidade_id, Cidade.all.collect, :id, :nome, {:prompt => false })%>
	</div>

	<div class="field">
		<%= f.label :endereco %><br>
		<%= f.text_field :endereco %>
	</div>

	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>

<%= link_to 'Back', locals_path %>
</div>