<%- model_class = Evento -%>

<table class="table table-striped">
  <thead>

  </thead>
 <tbody>
    <% @eventos.each do |evento| %>
      <tr>
        <td><%= image_tag(evento.imagem_url, :width => 60) if evento.imagem.present? %></td> 
        <td>  
          <dt><strong><%= model_class.human_attribute_name(:titulo) %>:</strong></dt>
          <dd><%= evento.titulo %></dd>
          <dt><strong><%= model_class.human_attribute_name(:inicio) %>:</strong></dt>
          <dd><%= evento.inicio %></dd>
          <dt><strong><%= model_class.human_attribute_name(:termino) %>:</strong></dt>
          <dd><%= evento.termino %></dd>
          <dt><strong><%= model_class.human_attribute_name(:descricao) %>:</strong></dt>
          <dd><%= evento.descricao %></dd>          
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_evento_path(evento), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      evento_path(evento),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_evento_path,
            :class => 'btn btn-primary' %>
