<!--
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Sign in to continue to Bootsnipp</h1>
            <div class="account-wall">

            <div class="Sign_Form">
            <div class= "Sign_Form">-->

    <div class="container">
        <div class="card card-container">    
                <%= form_for(resource, :html => {class:"form-signin"}, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <h1>Log in</h1>

                  <div class="field">
                    <%= f.email_field :email, autofocus: true, class: "form-control",placeholder: "Email" %>
                  </div>

                  <div class="field">
                    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Senha" %>
                  </div>

                  <div class="field">
                  <% if devise_mapping.rememberable? -%>
                    <div id="remember" class="checkbox">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                    </div>
                  <% end -%>
                </div>


                  <div class="actions">
                    <%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block btn-signin" %>
                  </div>
                

                  <%= link_to login_omniauth_authorize_path(:facebook) , :target => "_blank", :style=>"color:#fff;", class: "btn btn-lg btn-block btn-facebook"  do %>
                  <i class="fa fa-facebook"></i>
                    | Login com Facebook
                  <% end %> 
          

                  <!--<%= link_to "Sign in with Facebook", login_omniauth_authorize_path(:facebook) %>-->

                <% end %>
            
              </div>
            </div>



<!--              </div>

              </div>
            </div>
            <a href="#" class="text-center new-account">Create an account </a>
        </div>
    </div>
</div>-->
<%= render "devise/shared/links" %>
